
    <div class="menu">
        <ul>
            <li class="dropdown"  id="index"><a href="index.html">Brandguide</a>
                <ul class="dropdown-content">
                    <li><a href="index.html#Intro">Introduction</a></li>
                    <li><a href="index.html#Colors">Colors</a></li>
                    <li><a href="index.html#Logo">Logo</a></li>
                    <li><a href="index.html#Typo">Typography</a></li>
                </ul>
            </li>
            <li class="dropdown" id="css_methodology"><a href="css_methodology.html">CSS-Methodology</a>
                <ul class="dropdown-content">
                <li><a href="css_methodology.html#BEM">BEM</a></li>
                <li><a href="css_methodology.html#SCSS">SCSS</a></li>
                <li><a href="css_methodology.html#Units">Units</a></li>
                <li><a href="css_methodology.html#folder">Folder Structure</a></li>
                </ul>
            </li>
            <li class="dropdown" id="ui_elements"><a href="ui_elements.html">UI-Elements</a>
                <ul class="dropdown-content">
                <li><a href="ui_elements.html#Buttons">Buttons</a></li>
                <li><a href="ui_elements.html#Header">Header</a></li>
                <li><a href="ui_elements.html#Menu">Navigation</a></li>
                <li><a href="ui_elements.html#Header">Links</a></li>
                <li><a href="ui_elements.html#Form">Form-Elements</a></li>
                <li><a href="ui_elements.html#Lists">Lists</a></li>

                </ul>
            </li>   
            <li class="dropdown" id="page_layouts"><a href="page_layouts.html">Page Layout</a>
                <ul class="dropdown-content">
                <li><a href="page_layouts.html#layout1">Login</a></li>
                <li><a href="page_layouts.html#layout2">Stats</a></li>
                <li><a href="page_layouts.html#layout3">Playlist</a></li>
                </ul>
            </li>
        </ul>
    </div>
