<header>
    <nav>
        <ul class="navlinks">
            <li><a href="index.html">
                    <img class="navlinks__logoSVG" src="../images/Local_ly_icon.svg" alt="">
                </a>


            </li>

            <li class="headerText"><a href="index.html">Brandguide</a></li>
            <li class="headerText"><a href="css_methodology.html">CSS Methodology</a></li>
            <li class="headerText"><a href="ui_elements.html">UI Elements</a></li>
            <li class="headerText"><a href="page_layouts.html">Page Layout</a></li>
        </ul>
        <div id="menuToggle">

            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <li><a href="index.html">Brandguide</a></li>
                <li><a href="css_methodology.html">CSS Methodology</a></li>
                <li><a href="page_layouts.html">Page Layout</a></li>
                <li><a href="ui_elements.html">UI Elements</a></li>
            </ul>
        </div>
    </nav>






</header>